section {
    &.price-list,
    &.advertising {
        background-color: $light-section-background;
    }

    &.section-start {
        position: relative;
        min-height: 100vh;
        background: url('../img/start-sm-bg.jpg') 0 0 no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        @include media('>=lg') {
            background: url('../img/start-big-bg.jpg') 0 0 no-repeat;
            background-size: cover;
        }
    }

    &.section_schedule {
        background: url('../img/graphic-sm-bg.jpg') 0 0 no-repeat;
        background-attachment: fixed;
        @include media('>=lg') {
            background: url('../img/graphic-big-bg.jpg') 0 0 no-repeat;
        }
    }
}

.section-title {
    font-family: 'Roboto Slab';
}

.advertising-img {
    width: setSize(200);
    height: setSize(200);
    margin-top: setSize(15);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    
    &.strength {
        background: url('../img/strength.jpg') no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    &.efficency {
        background: url('../img/efficiency.jpg') no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    &.condition {
        background: url('../img/conditioning.jpg') 0 0 no-repeat;
        background-size: cover;
        background-position: center;
    }
}

#scheduler {
    &.table {
        th,
        td {
            color: $white;
            font-weight: 300;
            text-align: center;
            vertical-align: middle;
            font-size: setSize(14);
            padding: setSize(16) setSize(14);
        }
    }
}


#price-list {
    th,
    td {
        font-size: setSize(18);
        font-weight: 300;
        padding: setSize(18) setSize(7);
        text-align: center;
    }

    &.table-hover {
        tbody {
            tr {
                &:hover {
                    color: $white;
                    background-color: $gymbox_black;
                } 
            } 
        }
    }
}


.address-link {
    font-weight: 300;
    color: $white;
    &:hover {
        color: $white;
    }
}

// Footer
.footer-nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include media('>=lg') {
        flex-direction: row;
        justify-content: center;
    }
        li {
            margin: setSize(9) 0;
            text-align: center;
            a {
                padding: setSize(10) setSize(10);
                color: $white;
                text-transform: uppercase;
                font-weight: 300;
            }
        }
}