// Bcg colors
.bg {
    &-red {
        background-color: $gymbox_red;
    }

    &-black {
        background-color: $gymbox_black;
    }

    &-white {
        background-color: $white;
    }
}

// Font colors
.fc {
    &-white {
        color: $white;
    }

    &-red {
        color: $gymbox_red;
    }
}