// Font size
.fs {
    &-12 {
        font-size: setSize(12);
    }

    &-22 {
        font-size: setSize(22);
    }

    &-36 {
        font-size: setSize(36);
    }
}

// Font weight
.fw {
    &-300 {
        font-weight: 300;
    }
}